*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.typing-title {
  -webkit-text-stroke: 1px black;
}

.garis-atas {
  animation: garis-atas;
  animation-timeline: scroll();
  transform-origin: 0%;
}

@keyframes garis-atas {
  0% {
    transform: scaleX(0);
    filter: hue-rotate(0deg);
  }
  99% {
    filter: hue-rotate(360deg);
  }
  100% {
    transform: scaleX(1);
    filter: hue-rotate(0deg);
  }
}

.garis-bawah {
  animation: garis-bawah;
  animation-timeline: scroll();
  transform-origin: 100%;
}

@keyframes garis-bawah {
  0% {
    transform: scaleX(0);
    filter: hue-rotate(0deg);
  }
  99% {
    filter: hue-rotate(360deg);
  }
  100% {
    transform: scaleX(1);
    filter: hue-rotate(0deg);
  }
}
.garis-kiri {
  animation: garis-kiri;
  animation-timeline: scroll();
  transform-origin: 0 100%;
}

@keyframes garis-kiri {
  0% {
    transform: scaleY(0);
    filter: hue-rotate(0deg);
  }
  99% {
    filter: hue-rotate(360deg);
  }
  100% {
    transform: scaleY(1);
    filter: hue-rotate(0deg);
  }
}
.garis-kanan {
  animation: garis-kanan;
  animation-timeline: scroll();
  transform-origin: 0 0%;
}

@keyframes garis-kanan {
  0% {
    transform: scaleY(0);
    filter: hue-rotate(0deg);
  }
  99% {
    filter: hue-rotate(360deg);
  }
  100% {
    transform: scaleY(1);
    filter: hue-rotate(0deg);
  }
}

.bg-warna {
  background-image: linear-gradient(
    to right,
    blueviolet 0%,
    blue 50%,
    violet 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  background-position: left;
}

.bg-warna:hover {
  background-position: right;
  color: #fff;
  text-decoration: none;
}
